{
    "info": {
        "title": "这是一条测试消息",
        "last_version": "171350016",
        "version": {
            "171214": "Los Angeles",
            "171215": "CA",
            "24.10.22": {
                "base_top_title": "🎉",
                "base_top_description": "🎉永远相信美好的事情即将发生_",
                "log": "新增功能：粉丝数管理\n- 支持自定义个人页的点赞数、朋友数、关注数和粉丝数，用户可以随意修改这些数值。\n\n新增功能：粉丝数实际值显示\n- 开启后，粉丝数将以实际值显示，而不是以X.X万的格式显示。\n\n优化：顶栏底栏标签\n- 使用新方案，支持中文字符过滤，提升用户体验。\n\n修复问题\n- 修复了高版本中自动播放失效的问题。\n- 修复了图集下载过程中，当前图片总是下载第一张的问题。\n- 修复了评论区图片下载失效的问题。\n- 修复了评论区动态表情下载异常的问题。\n\n优化功能\n- 优化了抖音云控逻辑，提高了系统的稳定性。"
            }
        }
    },
    "description": {
        "base_top_title": "",
        "version_info_before": "",
        "version_info_after": ""
    }
}
