{
    "info": {
        "title": "这是一条测试消息",
        "last_version": "171350016",
        "version": {
            "171214": "Los Angeles",
            "171215": "CA",
            "25.03.31": {
                "base_top_title": "🎉",
                "base_top_description": "🎉永远相信美好的事情即将发生_",
                "log": "新增功能：\n- 粉丝数管理：支持自定义个人页的点赞数、朋友数、关注数和粉丝数，可随意修改这些数值。\n- 粉丝数实际值显示：开启该功能后，粉丝数将以实际数值形式呈现，而非以X.X万（W）的格式显示。\n\n优化修复问题：\n- 修复了唱片偶发性错乱问题。\n- 修复了部分版本以及高版本中自动播放失效的问题。\n- 修复了评论区图片下载失效的问题。\n- 移除内测版反馈按钮（效果自测）。\n- 修复了评论区动态表情下载异常的问题。\n- 修复了图集下载过程中，当前图片总是下载第一张的问题。\n- 修复了新版出现的异常问题。\n\n优化功能：\n- 优化了过滤逻辑，采用新方案过滤，提升体验。\n- 优化存储权限获取逻辑。\n- 对抖音云控逻辑进行优化，增强了系统的稳定性。\n- 改善了部分情况下图标抖动（闪烁）的状况。\n- 优化了部分控件隐藏失效的问题。"
            },
            "25.04.20": {
                "base_top_title": "🎉",
                "base_top_description": "🎉永远相信美好的事情即将发生_",
                "log": "“人啊，还是刚认识的时候最好。”
刚结识彼此的时候，热情中透着几分虚伪，那是新鲜与浪漫交织的味道。不管是友情，还是爱情，人与人刚开始交往时所展现出来的模样，都是精心挑选、只愿让对方看到的一面。处事得体大方，风趣幽默更是如春风般拂面。对方身上仿佛藏着数不清的闪光点，就像一个个神秘的宝藏，吸引着我们不断去探寻。于是，共同话题就像源源不断的溪流，取之不尽，我们可以围绕着这些话题畅聊许久。在一来一往的交流中，好感也一点一点地慢慢积累起来。
然而，随着彼此了解的逐渐深入，一种微妙的变化悄然滋生。不知何时起，我们开始不自觉地对对方提出更高的要求。就像一开始只是单纯地想要一杯水，简单而纯粹。但随着时间推移，这杯水不再是简单的解渴之物，它得是由对方精心对倒的，水温必须精准地保持在37度，多一度嫌烫，少一度觉凉，必须刚刚好。这种变化，与其说是输给了所谓的磨合期，倒不如说是在琐碎的日常中迷失了最初的美好。
生活，就像一面镜子，随着时间推移，它逐渐映照出我们越来越真实的自己。于是，那个在最初相处时被我们小心隐藏起来的、有着诸多不足的自己，慢慢地开始显露。也正是因为刚认识的时候一切都那么美好，充满了梦幻般的光晕，所以才有那么多人在心底无数次地幻想能够重新开始，毕竟，终其一生，最美不过那乍见时的心动与美好啊。"
            }
        }
    },
    "description": {
        "base_top_title": "",
        "version_info_before": "",
        "version_info_after": ""
    }
}
