{
    "info": {
        "title": "这是一条测试消息",
        "last_version": "171350016",
        "version": {
            "171214": "Los Angeles",
            "171215": "CA",
            "25.03.31": {
                "base_top_title": "🎉",
                "base_top_description": "🎉永远相信美好的事情即将发生_",
                "log": "新增功能：\n- 粉丝数管理：支持自定义个人页的点赞数、朋友数、关注数和粉丝数，可随意修改这些数值。\n- 粉丝数实际值显示：开启该功能后，粉丝数将以实际数值形式呈现，而非以X.X万（W）的格式显示。\n\n优化修复问题：\n- 修复了唱片偶发性错乱问题。\n- 修复了部分版本以及高版本中自动播放失效的问题。\n- 修复了评论区图片下载失效的问题。\n- 移除内测版反馈按钮（效果自测）。\n- 修复了评论区动态表情下载异常的问题。\n- 修复了图集下载过程中，当前图片总是下载第一张的问题。\n- 修复了新版出现的异常问题。\n\n优化功能：\n- 优化了过滤逻辑，采用新方案过滤，提升体验。\n- 优化存储权限获取逻辑。\n- 对抖音云控逻辑进行优化，增强了系统的稳定性。\n- 改善了部分情况下图标抖动（闪烁）的状况。\n- 优化了部分控件隐藏失效的问题。"
            }
        }
    },
    "description": {
        "base_top_title": "",
        "version_info_before": "",
        "version_info_after": ""
    }
}
